- name: copy Docker public key
  become: true
  register: dockergpg
  copy:
    src: docker.gpg
    dest: /etc/apt/docker.gpg
    mode: 0644
    owner: root
    group: root

- name: import Docker public key
  when: dockergpg.changed
  become: true
  command: apt-key add /etc/apt/docker.gpg

- name: install Docker list
  become: true
  register: dockerlist
  copy:
    src: docker.list
    dest: /etc/apt/sources.list.d/docker.list
    owner: root
    group: root
    mode: 0644

- name: reload apt for Docker
  when: dockerlist.changed
  become: true
  command: apt-get update

- name: install Docker packages
  become: true
  apt:
    name: "{{item}}"
    state: present
  with_items:
    - docker-ce
    - docker-compose
